# supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# digitalocean spaces config
DO_SPACES_ENDPOINT=
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_KEY=
DO_SPACES_SECRET=

# ai keys
GEMINI_API_KEY=
OPENAI_API_KEY=

# google cloud vertex ai config
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CLOUD_CREDENTIALS_PATH=
